.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Grid */
/************* Row *************/
.row {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.row [class^="col"] {
	position: relative;
	min-height: 1px;
	padding: 0;
}


/************* Default column *************/

.col-1 {
	flex: 0 0 8.33333%;
}

.col-2 {
	flex: 0 0 16.66667%;
}

.col-3 {
	flex: 0 0 25%;
}

.col-4 {
	flex: 0 0 33.33333%;
}

.col-5 {
	flex: 0 0 41.66667%;
}

.col-6 {
	flex: 0 0 50%;
}

.col-7 {
	flex: 0 0 58.33333%;
}

.col-8 {
	flex: 0 0 66.66667%;
}

.col-9 {
	flex: 0 0 75%;
}

.col-10 {
	flex: 0 0 83.33333%;
}

.col-11 {
	flex: 0 0 91.66667%;
}

.col-12 {
	flex: 0 0 100%;
}


/************* XLarge Device column *************/

@media only screen and (min-width: 1200px) {
	.col-xl-1 {
		flex: 0 0 8.33333%;
	}
	.col-xl-2 {
		flex: 0 0 16.66667%;
	}
	.col-xl-3 {
		flex: 0 0 25%;
	}
	.col-xl-4 {
		flex: 0 0 33.33333%;
	}
	.col-xl-5 {
		flex: 0 0 41.66667%;
	}
	.col-xl-6 {
		flex: 0 0 50%;
	}
	.col-xl-7 {
		flex: 0 0 58.33333%;
	}
	.col-xl-8 {
		flex: 0 0 66.66667%;
	}
	.col-xl-9 {
		flex: 0 0 75%;
	}
	.col-xl-10 {
		flex: 0 0 83.33333%;
	}
	.col-xl-11 {
		flex: 0 0 91.66667%;
	}
	.col-xl-12 {
		flex: 0 0 100%;
	}
}


/************* Large Device column *************/

@media only screen and (min-width: 992px) {
	.col-lg-1 {
		flex: 0 0 8.33333%;
	}
	.col-lg-2 {
		flex: 0 0 16.66667%;
	}
	.col-lg-3 {
		flex: 0 0 25%;
	}
	.col-lg-4 {
		flex: 0 0 33.33333%;
	}
	.col-lg-5 {
		flex: 0 0 41.66667%;
	}
	.col-lg-6 {
		flex: 0 0 50%;
	}
	.col-lg-7 {
		flex: 0 0 58.33333%;
	}
	.col-lg-8 {
		flex: 0 0 66.66667%;
	}
	.col-lg-9 {
		flex: 0 0 75%;
	}
	.col-lg-10 {
		flex: 0 0 83.33333%;
	}
	.col-lg-11 {
		flex: 0 0 91.66667%;
	}
	.col-lg-12 {
		flex: 0 0 100%;
	}
}


/************* Medium Device column *************/

@media only screen and (min-width: 768px) {
	.col-md-1 {
		flex: 0 0 8.33333%;
	}
	.col-md-2 {
		flex: 0 0 16.66667%;
	}
	.col-md-3 {
		flex: 0 0 25%;
	}
	.col-md-4 {
		flex: 0 0 33.33333%;
	}
	.col-md-5 {
		flex: 0 0 41.66667%;
	}
	.col-md-6 {
		flex: 0 0 50%;
	}
	.col-md-7 {
		flex: 0 0 58.33333%;
	}
	.col-md-8 {
		flex: 0 0 66.66667%;
	}
	.col-md-9 {
		flex: 0 0 75%;
	}
	.col-md-10 {
		flex: 0 0 83.33333%;
	}
	.col-md-11 {
		flex: 0 0 91.66667%;
	}
	.col-md-12 {
		flex: 0 0 100%;
	}
}


/************* Small Device column *************/

@media only screen and (min-width: 480px) {
	.col-sm-1 {
		flex: 0 0 8.33333%;
	}
	.col-sm-2 {
		flex: 0 0 16.66667%;
	}
	.col-sm-3 {
		flex: 0 0 25%;
	}
	.col-sm-4 {
		flex: 0 0 33.33333%;
	}
	.col-sm-5 {
		flex: 0 0 41.66667%;
	}
	.col-sm-6 {
		flex: 0 0 50%;
	}
	.col-sm-7 {
		flex: 0 0 58.33333%;
	}
	.col-sm-8 {
		flex: 0 0 66.66667%;
	}
	.col-sm-9 {
		flex: 0 0 75%;
	}
	.col-sm-10 {
		flex: 0 0 83.33333%;
	}
	.col-sm-11 {
		flex: 0 0 91.66667%;
	}
	.col-sm-12 {
		flex: 0 0 100%;
	}
}
